@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 15px;
}
.slick-arrow {
background: #a9ea8b;
border-radius: 12px;
padding-top: 1px;

  }
  .slick-arrow:hover {
    background: #a9ea8b;
  }
  
 